.fields
  %p
    = f.hidden_field :document_id
  %p
    = f.text_area :body, :size => "33x20"
  %p
    Does this summary cover the full document or just certain pages?
    %br
    = f.label :type_of_subset, "it covers"
    = f.select :type_of_subset, options_for_summary_type_of_subset
  %p 
    Which pages?
    %br
    = f.label :page_begin, "from"
    = f.text_field :page_begin, :size => "3"
    = f.label :page_end, "to"
    = f.text_field :page_end, :size => "3"



  
  


