.summary.module
  
  .content
    .header
      %h3
        = link_to 'summary', summary_path(summary)
      %h4
        written
        = summary.created_at.to_s(:short)
    .body
      = summary.body
  
  .tools
    %ul
      %li.vote_up
        = link_to "vote up", summary_summary_votes_path(summary, {:summary_vote => {:score => 1, :summary_id => summary.id}}), :method => :post
        = summary.up_votes
      %li.vote_down
        = link_to "vote down", summary_summary_votes_path(summary, {:summary_vote => {:score => -1, :summary_id => summary.id}}), :method => :post, :class => "red1"
        = summary.down_votes
        
  .clear
    
    