- content_for :title do
  Summarizing
  = @summary.document.name
#new_summary_page
  
  .help
    And here's the action!  Write a good summary of the document so that others can get its gist without having to read the whole thing.  Don't worry about being perfect - the voting system will give you feedback.
  #summary_form.summary.module
    = link_to_function 'skinny window', 'skinny_window()', :class => 'hey'
    %h3 write your summary here
    - form_for(@summary) do |f|
      = render :partial => "form", :locals => {:f => f}
      = submit_tag "submit"    
    
  - if @summary.document
    #document
      %h2 You are summarizing:
      = render :partial => @summary.document
      
%script
  :javascript
    

    