.document.module
  .stackleft
    %span.name
      = link_to document.name, document_path(document)
    .description
      - if document.description.to_s.empty?
        (no description)
      - else
        = document.description
  .stackleft
    %p
      added on
      = document.created_at.to_s(:short)
    - unless document.number_of_pages.nil?
      %p
        = document.number_of_pages
        pages
    %p
      original:
      = link_to document.original_url, document.original_url
    
  .stackleft
    .tools
      %p
        %ul.horizontal
          %li 
            = link_to 'read summaries', document_path(document)
          %li 
            = link_to 'write a summary', new_document_summary_path(document)
          %li
            = link_to 'delete', document_path(document), :method => :delete, :confirm => "Are you sure?  This document and all its summaries will be deleted.", :class => "red1"
          %li.pending_feature
            = link_to 'body text', nil, :class => "show_body"
      .clear
      
    
  .clear
  
  
 
      