.document
  .header
    %h2
      = link_to document.name, document.original_url
      
      .links
        = link_to "original", document.original_url 
        = link_to "write your own summary", new_document_summary_path(document)               
  - unless document.summaries.count == 0
    .summary
      ShorterVersion summary:
      .body
        = preserve document.summaries.first.body
        %br
        .character_count
          = "#{document.summaries.first.body.split(/\s+/).size} words"