%ul
  %li
    = f.label :name, "Name or Title"
    = f.text_field :name
  %li
    = f.label :description, "A Short Description"
    = f.text_area :description, :size => "60x3"
  %li
    = f.label :body, "Original Document Text", :class => "bigger"
    = f.text_area :body, :size => "80x15"
  %li
    = f.label :original_url
    = f.text_field :original_url, :size => 50
  %li
    = f.label :number_of_pages
    = f.text_field :number_of_pages, :size => 5
  


