.stackleft
  %ul
    %li
      = link_to "Add a Document", new_document_path
    %li
      = link_to "Browse Documents", documents_path
    %li
      = link_to_function 'help?', "$('.help').toggle()"
.logo.stackleft
  %h1
    ShorterVersion.com
  %h2
    documents summarized by the people, for the people
#share.stackleft
  = facebook_share_button
  = link_to "sign up", new_user_registration_path
  

.clear